@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(222,221,220);
  background: radial-gradient(circle, rgba(222,221,220,1) 0%, rgba(227,226,226,1) 19%, rgba(250,250,251,1) 61%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}


